<!DOCTYPE html>
<html lang="en">
<head>
    <title>Referral User</title>
    <!-- Include head partial -->
    <%- include("../../partials/head.ejs") %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">
</head>
<body>
    <!-- Header -->
    <header>
        <!-- Navbar -->
        <%- include("../../partials/header.ejs") %>
        <!-- End Navbar -->

        <!-- Banner -->
        <div class="w-100 bg-warning py-3 mb-5">
            <div class="text-center text-light">
                <span>Cek Turnitin 24 Jam</span>
            </div>
        </div>
        <!-- End Banner -->
    </header>
    <!-- End Header -->

    <!-- Main Content -->
    <main>
        <div class="container mt-1 py-1">
            <div class="row justify-content-center mt-5">
                <!-- Sidebar -->
                <%- include("../../partials/sidebar.ejs") %>
                <!-- End Sidebar -->

                <!--Affiliate Content-->
                <div class="col-xl-8 col-12">
                    <div class="mx-auto mt-md-1">
                        <div class="shadow p-3 mb-1 mt-1 bg-body-light rounded">
                            <div class="row justify-content-between align-items-start">
                                <div class="col-12">
                                    <div class="align-items-left">
                                        <h5 class="fw-semi"> Data Affiliate Kamu</h5>
                                        <div class="text-center">
                                            <div class="col-12 mt-3 text-center">
                                                <button type="submit" class="btn btn-affiliate">Berbagung Menjadi Affiliate</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- End Main Content -->
    </main>
    <!-- End Main Content -->



    
</body>
</html>
