<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../../partials/head.ejs") %>
</head>
<body>
    <!-- Header -->
    <header>
      <!--Navbar-->
      <%- include("../../partials/header.ejs") %>
      <!--End Navbar-->

      <!--Banner-->
        <div class="w-100 bg-warning py-3 mb-5">
            <div class="text-center text-light">
                <span> Cek Turnitin 24 Jam </span>
            </div>
        </div>
    <!--End Banner-->
    </header>
    <!-- End Header -->