    <div class="row mt-2">
        <div class="col-md-4">
            <div class="card shadow rounded">
                <div class="card-body flex-column d-flex align-items-center">
                    <div class="bg-danger rounded p-3" style="width:30% ; height: 30%;" >
                        <img width="25" height="25" src="https://img.icons8.com/fluency-systems-regular/48/FFFFFF/clock--v3.png" alt="clock--v3"/>
                    </div>
                    <div class="text-center">
                        <span class="fs-8"> Transaksi hari ini</span>
                        <br>
                        <span class="fs-8 fw-bold">Total: Rp 0</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow rounded">
                <div class="card-body flex-column d-flex align-items-center">
                    <div class="bg-warning rounded p-3" style="width:30% ; height: 30%;" >
                        <img width="25" height="25" src="https://img.icons8.com/fluency-systems-regular/48/FFFFFF/clock--v3.png" alt="session-timeout"  class="mx-auto"/>
                    </div>
                    <div class="text-center">
                        <span class="fs-8"> Transaksi semua</span>
                        <br>
                        <span class="fs-8 fw-bold">Total: Rp 0</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow rounded">
                <div class="card-body flex-column d-flex align-items-center">
                    <div class="bg-primary-blue rounded p-3" style="width:30% ; height: 30%;" >
                        <img width="25" height="25" src="https://img.icons8.com/fluency-systems-regular/48/FFFFFF/clock--v3.png" alt="session-timeout"  class="mx-auto"/>
                    </div>
                    <div class="text-center">
                        <span class="fs-8"> Nominal transaksi</span>
                        <br>
                        <span class="fs-8 fw-bold">Total: Rp 0</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
