<div class="col-xl-3 col-12">
    <div class="card shadow border-0 mb-2 bg-light rounded">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <div class="d-flex flex-row fs-4">
                    <i class="ri-user-fill"></i>
                    <h5 class="mb-0 p-1" href="#">Profil</h5>
                </div>
                <p>Detail tentang informasi Profil Saya</p>
            </div>
        </nav>
    </div>
    <div class="card shadow border-0 mb-2 bg-light rounded">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <div class="d-flex flex-row fs-4">
                    <i class="ri-group-2-fill"></i>
                    <h5 class="mb-0 p-1" href="#">Afiliate</h5>
                </div>
                <p>Detail tentang informasi affiliate</p>
            </div>
        </nav>
    </div>
    <div class="card shadow border-0 mb-2 bg-light rounded">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <div class="d-flex flex-row fs-4">
                    <i class="ri-money-dollar-circle-fill"></i>
                    <h5 class="mb-0 p-1" href="#">Withdraw</h5>
                </div>
                <p>Detail tentang informasi withdraw</p>
            </div>
        </nav>
    </div>
    <div class="card shadow border-0 mb-2 bg-light rounded">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <div class="d-flex flex-row fs-4">
                    <i class="ri-file-list-3-line"></i>
                    <h5 class="mb-0 p-1" href="#">My Project</h5>
                </div>
                <p>Detail tentang informasi Projek Saya</p>
            </div>
        </nav>
        <div class="d-flex align-items-center gap-1">
            <div class=""></div>
        </div>
    </div>
</div>